[submodule "fpcsrc"]
	path = fpcsrc
	url = https://gitlab.com/freepascal.org/fpc/source.git
	branch = release_3_2_4-branch
[submodule "fpcdocs"]
	path = fpcdocs
	url = https://gitlab.com/freepascal.org/fpc/documentation.git
	branch = main
